<app-default-login-layout 
  title="Login into your account" 
  primaryBtnText = "Login now" 
  secondaryBtnText = "SingUp now"
  (submit)="submit()"
  (navigate)="navigate()"
  [disablePrimaryBtn]="!loginForm.valid"
  >
  <form [formGroup]="loginForm">
    <app-primary-input
      formControlName="email"
      inputName="email"
      type="email"
      label="Email"
      placeHolder="johndoe@gmail.com"
    >
      <img src="/assets/svg/email-icon.svg" alt="simbolo de email em forma figurativa">
    </app-primary-input>
    <app-primary-input
      formControlPassword="password"
      inputName="password"
      type="password"
      label="Your password"
    >
      <img src="/assets/svg/password-icon.svg" alt="simbolo de cadeado em forma figurativa">
    </app-primary-input>
    <span>Forgot your password?</span>
  </form>
</app-default-login-layout>